    <!--#HEADER-->
    <app-home-page-header></app-home-page-header>

    <section class="Acueil">
    
        <main>
            <article>
            <!--#HOMECONTENT-->
                <section class="HOMECONTENT" id="home">
                    <div class="container">
                        <h2 class="h1 HOMECONTENT-title">Gestion du port de plaisance</h2>
                        <div class="link-group">
                            <a class="link link-primary" routerLink="/A_Propos" routerLinkActive="active" >A propos</a>
                            <a class="link link-secondary" routerLink="/Se_connecter" routerLinkActive="active">Se connecter</a>
                        </div>
                    </div>
                </section>
            </article>
        </main>
    
    </section>