<section class="A_Propos" id="A_Propos">

    <main>
        <article>
        <!--#APROPOSCONTENT-->
            <section class="APROPOSCONTENT" id="home">
                <div class="container">
                    <h2 class="APROPOSCONTENT-title">Gestion du port de plaisance</h2>
                    <h6>version 7.0 2023/2024</h6>
                    <p class="APROPOSCONTENT-text">
                        "Logiciel de gestion des ports conçu et réalisé par Arab Soft Informatique."
                        <br>Rue 8368 -bloc A- Espace El Aziz, lot Ennassim - Montplaisir- 1073 Tunis TUNISIE
                        <br>Tél : +216.71.95.12.48
                        <br>Fax : +216.71.95.10.44
                        <br>Email : arabsoft&#64;arabsoft.com.tn
                    </p>
                    <div class="link-group">
                        <a class="link link-primary" routerLink="/Page_d_accueil" routerLinkActive="active" >Retour</a>
                        <a class="link link-secondary" routerLink="/Se_connecter" routerLinkActive="active">Se connecter</a>
                    </div>
                </div>
            </section>
        </article>
    </main>

</section>
