<div class="all-page flex items-center">
    <app-navbar (onToggleSideNav)="onToggleSideNav($event)"></app-navbar>
    <div class="body" [ngClass]="getBodyClass()">
        <router-outlet></router-outlet>

        <section class="content">
            <div class="left-content">
                <div class="main">
                    <div class="Header">
                        <h1><i class="fal fa-search faa2x"></i> Rechercher une Réservation</h1>
                        <div class="buttons">
                            <div class="submit-box">
                                <div class="button-group button">
                                    <!--<button class="button button-primary" for="check" routerLink="" routerLinkActive="active" >Supprimer</button>-->
                                    <input type="checkbox" id="check">
                                    <label class="button button-primary" for="check">Supprimer</label>
                                    <div class="background"></div>
                                    <div class="alert_box">
                                        <div class="icon">
                                            <i class="fas fa-exclamation"></i>
                                        </div>
                                        <header>Confirmer</header>
                                        <p>Etes-vous sûr de vouloir retirer définitivement cette réservation?</p>
                                        <div class="btns">
                                            <label for="check">Oui, Supprimer!!</label>
                                            <label for="check">Annuler</label>
                                        </div>
                                    </div>
                                    <button class="button button-third" routerLink="/modifier_fiche_réservation" routerLinkActive="active" >Modifier</button>
                                    <button class="button button-secondary" routerLink="/fiche_réservation" routerLinkActive="active">Imprimer</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>                  
                    <div class="big-container">
                    <!-- ======================= Filters ================== -->
                        <div class="filterBox">
                            <div class="filter filter-2">
                                <div>
                                    <div class="filterName">Rechercher</div>
                                    <div class="recherche-option">
                                        <div class="input-box">
                                            <label>Nº d'emplacment :</label>
                                            <input type="number" placeholder="Entrer le nº d'emplacment" />
                                        </div>
                                        <div class="input-box">
                                            <label>Nom bateau :</label>
                                            <input type="text" placeholder="Entrer le nom du bateau" />
                                        </div>
                                        <div class="input-box">
                                            <label>Nº du client : </label>
                                            <input class="num_client" type="number" placeholder="Entrer le  nº du client" />
                                        </div>
                                        <div class="input-box">
                                            <label>Nom du client : </label>
                                            <input type="text" placeholder="Entrer le nom du client" />
                                        </div>
                                        <div class="input-box">
                                            <label>Début séjour :</label>
                                            <input type="date" placeholder="Entrer la date du début" />
                                        </div>
                                        <div class="input-box">
                                            <label>Fin séjour : </label>
                                            <input type="date" placeholder="Entrer la date du fin" />
                                        </div>
                                    </div>  
                                </div>
                                <div class="iconFltr">
                                    <i class="fal fa-search faa2x"></i>
                                </div>
                            </div>
                        </div>
                    <!-- ================ boats List ================= -->
                    <div class="details">
                        <!--<div class="details"(scroll)="onTableScroll($event)">-->
                        <div class="Boats">
                            <table>
                                <thead>
                                    <tr>
                                        <td>Poste</td>
                                        <td>Bateau</td>
                                        <td>Client</td>
                                        <td>Séjour</td>
                                        <td>Début</td>
                                        <td>Fin</td>
                                        <td>Acompte</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let reservation of reservations">
                                        <td>{{ reservation.number }}</td>
                                        <td>{{ reservation.boatName }}</td>
                                        <td>{{ reservation.clientName }}</td>
                                        <td>{{ reservation.stayDetails }}</td>
                                        <td>{{ reservation.startDate }}</td>
                                        <td>{{ reservation.endDate }}</td>
                                        <td>{{ reservation.deposit }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
