

<div class="all-page flex items-center">
    <app-navbar (onToggleSideNav)="onToggleSideNav($event)"></app-navbar>
    <div class="body" [ngClass]="getBodyClass()">
        <router-outlet></router-outlet>

        <section class="content">
            <div class="left-content">
                <div class="main">
                    <div class="Header">
                        <h1><i class="fas fa-search faa2x"></i> Rechercher un Mouvement</h1>
                    </div>                  
                    <div class="big-container">
                    <!-- ======================= Filters ================== -->
                        <div class="filterBox">
                            
                            <div class="filter filter-2">
                                <div>
                                    <div class="filterName">Rechercher</div>
                                    <div class="recherche-option">
                                    <div class="option-recherche-details">
                                        <input type="radio" name="option-recherche" id="dot-1">
                                        <input type="radio" name="option-recherche" id="dot-2">
                                        <input type="radio" name="option-recherche" id="dot-3">
                                        <div class="category">
                                            <label for="dot-1">
                                            <span class="dot one"></span>
                                            <span class="option-recherche"style="font-weight: normal;">Commencant par :</span>
                                        </label>
                                        <label for="dot-2">
                                            <span class="dot two"></span>
                                            <span class="option-recherche"style="font-weight: normal;">Contenant :</span>
                                        </label>
                                        <label for="dot-3">
                                            <span class="dot three"></span>
                                            <span class="option-recherche"style="font-weight: normal;">Finissant par :</span>
                                        </label>
                                        </div>
                                    </div>
                                        <div class="input-box">
                                            <input type="text" placeholder="Faire une recherche" />
                                        </div>
                                    </div>  
                                </div>
                                <div class="iconFltr">
                                    <i class="fas fa-search faa2x"></i>
                                </div>
                            </div>
                        </div>
                    <!-- ================ boats List ================= -->
                    <div class="details">
                        <div class="Boats">
                            <!--<app-liste-des-bateaux></app-liste-des-bateaux>-->

                            <table>
                                <thead>
                                    <tr>
                                        <td>Num. Bateau</td>
                                        <td>Bateau</td>
                                        <td>Prenom Client</td>
                                        <td>Date Mouvement</td>
                                        <td>Arrivée</td>
                                        <td>Depart</td>
                                        <td>Observation</td>
                                        <td></td>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let bateau of listBateau">
                                        <td>{{ bateau.id_bat }}</td>
                                        <td>{{ bateau.nom_bat }}</td>
                                        <td>{{ bateau.client.prenom_cli }}</td>
                                        <td>{{ bateau.date_mvt }}</td>
                                        <td>{{ bateau.depart_mvt }}</td>
                                        <td>{{ bateau.arrivee_mvt }}</td>
                                        <td>{{ bateau.commentaire_mvt }}</td>
                                        <td>
                                            <div class="button-group ">
                                            <button type="button" class="button btn btn-outline-primary"
                                                (click)="open(mymodal1,bateau)">Modifier
                                            </button>
                                            <button type="button" class="button btn btn-outline-danger"
                                                (click)="deleteBateau(bateau.id_bat)">Supprimer
                                            </button>
                                            
                                            </div>
                                          </td>
                                      </tr>
                                  </tbody>
                            </table>

                        </div>
                    </div>
                    </div>
                </div>





                <ng-template #mymodal1 let-modal1>
  <div class="modal-body p-4 red-background form-title">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal1.dismiss('Cross click')"></button>
    <div>
      <section class="container mx-auto">
        <form class="space-y-4">
          <div class="grid grid-cols-4 gap-4">
            <h1 class="col-span-4" style="color:#001A1F;font-size: 1.3rem;font-weight: 700;padding: 5px 20px;">Informations sur le mouvement du bateau :</h1>
            <div class="col-span-4">
              <label class="block text-gray-700">Date mouvement :</label>
              <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="Bateau.date_mvt" [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="col-span-1">
              <label class="block text-gray-700">Depart :</label>
              <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="Bateau.depart_mvt" [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="col-span-1">
              <label class="block text-gray-700">Arrivé :</label>
              <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="Bateau.arrivee_mvt" [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="col-span-1">
              <label class="block text-gray-700">Note Mouvement :</label>
              <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="Bateau.commentaire_mvt" [ngModelOptions]="{standalone: true}" />
            
            </div>
            
            
          </div>
        </form>
        <div class="mt-4">
          <button type="button" class="button transition" (click)="editBateau(Bateau)" (click)="modal1.close('Save click')">Enregistrer</button>
          <button type="button" class="button transition" (click)="modal1.close('Save click')">Annuler</button>
        </div>
      </section>
    </div>
  </div>
</ng-template>


            </div>
        </section>
    </div>
</div>