<div class="all-page flex items-center">
    <app-navbar (onToggleSideNav)="onToggleSideNav($event)"></app-navbar>
    <div class="body" [ngClass]="getBodyClass()">
    <router-outlet></router-outlet>

    <section class="content">
        <div class="left-content">
            <div class="main">
                <div class="BigTitle">
                    <h1><i class="fas fa-file-invoice faa2x"></i> Ajouter une facture & Reglement</h1>
                </div>
                <div class="big-container">
                    <div class="formulaire-boxes">
                        <!-- Formulaire Etape 2 -->
                        <div >
                            <section class="container container-2">
                                <form action="#" class="form">
                                    <div class="column">
                                        <div class="input-box">
                                            <label>Facture nº :</label>
                                            <input type="number" placeholder="Entrer le numéro de la facture" required
                                            [(ngModel)]="facture.id_fact" [(ngModel)]="facture.id_fact"
                                            [ngModelOptions]="{standalone : true}"/>
                                        </div>
                                        <div class="input-box">
                                            <label>Date facture :</label>
                                            <input type="date"required
                                            [(ngModel)]="facture.date_fact"
                                            [ngModelOptions]="{standalone : true}"/>
                                        </div>
                                    </div>
                                    <div class="column">
                                        
                                        <div class="input-box">
                                            <label>Etat de Paiement :</label>
                                            <input type="text" placeholder="Entrer l'état du paiement de la facture" required
                                            [(ngModel)]="facture.etat_paiement"
                                            [ngModelOptions]="{standalone : true}"/>
                                        </div>

                                        <div class="input-box">
                                            <label>Totale Facture :</label>
                                            <input type="number" placeholder="Entrer le montant totale de la facture"required
                                            [(ngModel)]="facture.montant_ttl"
                                            [ngModelOptions]="{standalone : true}"/>
                                        </div>
                                    </div>

                                    <div class="column">
                                        <div class="input-box">
                                            <label>Timbre fiscale :</label>
                                            <input type="text" placeholder="Entrer le timbre fiscale" required
                                            [(ngModel)]="facture.tbre_fiscale"
                                            [ngModelOptions]="{standalone : true}"/>
                                        </div>
                                        
                                    </div>
                                    
                                   

                                    <div class="column">
                                        <div class="input-box">
                                            <label>Libelle carte :</label>
                                            <input type="text"  placeholder="Entrer la libelle de la cate" required
                                            [(ngModel)]="facture.lib_carte"
                                            [ngModelOptions]="{standalone : true}"/>
                                        </div>
                                        <div class="input-box">
                                            <label>Compte carte :</label>
                                            <input type="number"  placeholder="Entrer le compte de la cate" required
                                            [(ngModel)]="facture.cpt_carte"
                                            [ngModelOptions]="{standalone : true}"/>
                                        </div>
                                        
                                    </div>
                                   



                    <div class="option-check-details">
                      <label>Exonération client :</label>
                      <div class="radio-buttons">
                          <input [value]="1" type="radio" name="option-check" id="dot-1" [(ngModel)]="facture.exo_cli" [ngModelOptions]="{standalone: true}">
                          <label for="dot-1">
                              <span class="dot one"></span>
                              <span class="option-check">Oui</span>
                          </label>
                          
                          <input [value]="0" type="radio" name="option-check" id="dot-2" [(ngModel)]="facture.exo_cli" [ngModelOptions]="{standalone: true}">
                          <label for="dot-2">
                              <span class="dot two"></span>
                              <span class="option-check">Non</span>
                          </label>
                      </div>
                  </div>
                                    

                                    <div class="input-box">
                                        <label>Libelle exoneration Client :</label>
                                        <input type="bolean" placeholder="Entrer la libelle" required
                                        [(ngModel)]="facture.lib_exo"
                                        [ngModelOptions]="{standalone : true}"/>
                                    </div>
                                        
<!--
                                <div class="details">
                                    <div class="Boats boats1">
                                        
                                        <table>
                                            <thead>
                                                <tr>
                                                    <td>Désignation</td>
                                                    <td>Libelle</td>
                                                    <td>Date Début</td>
                                                    <td>Date Fin</td>
                                                    <td>Fin</td>
                                                    <td>Prix Unit.</td>
                                                    <td>Dte</td>
                                                    <td>Montant</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td contenteditable="true" onblur="validateSting(this)" ></td>
                                                    <td contenteditable="true" onblur="validateString(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                </tr>
                                                <tr>
                                                    <td contenteditable="true" onblur="validateSting(this)" ></td>
                                                    <td contenteditable="true" onblur="validateString(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                </tr>
                                                <tr>
                                                    <td contenteditable="true" onblur="validateSting(this)" ></td>
                                                    <td contenteditable="true" onblur="validateString(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                </tr>
                                                <tr>
                                                    <td contenteditable="true" onblur="validateSting(this)" ></td>
                                                    <td contenteditable="true" onblur="validateString(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                </tr>
                                                <tr>
                                                    <td contenteditable="true" onblur="validateSting(this)" ></td>
                                                    <td contenteditable="true" onblur="validateString(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                </tr>
                                                <tr>
                                                    <td contenteditable="true" onblur="validateSting(this)" ></td>
                                                    <td contenteditable="true" onblur="validateString(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                </tr>
                                                <tr>
                                                    <td contenteditable="true" onblur="validateSting(this)" ></td>
                                                    <td contenteditable="true" onblur="validateString(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                </tr>
                                                <tr>
                                                    <td contenteditable="true" onblur="validateSting(this)" ></td>
                                                    <td contenteditable="true" onblur="validateString(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                </tr>
                                                <tr>
                                                    <td contenteditable="true" onblur="validateSting(this)" ></td>
                                                    <td contenteditable="true" onblur="validateString(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            -->
                            

                                    <!--
                                    <div class="Boats boats2">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <td>Paiement</td>
                                                    <td>Carte</td>
                                                    <td>Num. Pièce</td>
                                                    <td>Date</td>
                                                    <td>Heure</td>
                                                    <td>Montant</td>
                                                    <td>Num. Utilisateur</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td contenteditable="true" onblur="validateString(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateHour(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                </tr>
                                                <tr>
                                                    <td contenteditable="true" onblur="validateString(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateHour(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                </tr>
                                                <tr>
                                                    <td contenteditable="true" onblur="validateString(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateHour(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                </tr>
                                                <tr>
                                                    <td contenteditable="true" onblur="validateString(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateHour(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                </tr>
                                                <tr>
                                                    <td contenteditable="true" onblur="validateString(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateHour(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                </tr>
                                                <tr>
                                                    <td contenteditable="true" onblur="validateString(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateHour(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                </tr>
                                                <tr>
                                                    <td contenteditable="true" onblur="validateString(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateHour(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                </tr>
                                                <tr>
                                                    <td contenteditable="true" onblur="validateString(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateHour(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                </tr>
                                                <tr>
                                                    <td contenteditable="true" onblur="validateString(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateHour(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                </tr>
                                                <tr>
                                                    <td contenteditable="true" onblur="validateString(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateHour(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                </tr>
                                                <tr>
                                                    <td contenteditable="true" onblur="validateString(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                    <td contenteditable="true" onblur="validateDate(this)" ></td>
                                                    <td contenteditable="true" onblur="validateHour(this)" ></td>
                                                    <td contenteditable="true" onblur="validateFloat(this)" ></td>
                                                    <td contenteditable="true" onblur="validateNumber(this)" ></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                -->
                                            
                                       
                                        
                                        
                                    </form>
                                
                                    <br>
                                <div class="submit-box">
                                    <div class="button-group button">
                                        <button type="button" class="button button-primary" type="button" >Annuler</button>
                                        <button (click)="addFacture()" class="button button-secondary">Ajouter</button>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- Boutons de pagination -->
                    <!--
                    <div class="pagination">
                        <ul class="pagination">
                            --><!-- Bouton Précédent -->
                    <!--
                            <li class="btn prev" (click)="changePage(currentPage - 1)" [hidden]="currentPage === 1">
                                <span><i class="fas fa-angle-left"></i> Précédent</span>
                            </li>
                        --><!-- Affichage des numéros de page -->
                    <!--
                            <ng-container *ngFor="let plength of getPages()">
                                <li class="numb" [class.active]="currentPage === plength" (click)="changePage(plength)">
                                    <span>{{ plength }}</span>
                                </li>
                            </ng-container>
                        --><!-- Bouton Suivant -->
                    <!--
                            <li class="btn next" (click)="changePage(currentPage + 1)" [hidden]="currentPage === totalPages">
                                <span>Suivant <i class="fas fa-angle-right"></i></span>
                            </li>
                        </ul>
                    </div>

                -->
                </div>
            </div>
        </div>
    </section>
    </div>
</div>