<div class="all-page flex items-center">
    <app-navbar (onToggleSideNav)="onToggleSideNav($event)"></app-navbar>
    <div class="body" [ngClass]="getBodyClass()">
        <router-outlet></router-outlet>

        <section class="content">
            <div class="left-content">
                <div class="main">
                    <div class="Header">
                        <h1><i class="fal fa-search faa2x"></i> Rechercher une Consommation</h1>
                        <div class="buttons">
                            <div class="submit-box">
                                <div class="button-group button">
                                    <!--<button class="button button-primary" for="check" routerLink="" routerLinkActive="active" >Supprimer</button>-->
                                    <input type="checkbox" id="check">
                                    <label class="button button-primary" for="check">Supprimer</label>
                                    <div class="background"></div>
                                    <div class="alert_box">
                                        <div class="icon">
                                            <i class="fas fa-exclamation"></i>
                                        </div>
                                        <header>Confirmer</header>
                                        <p>Etes-vous sûr de vouloir retirer définitivement cette consommation ?</p>
                                        <div class="btns">
                                            <label for="check">Oui, Supprimer!!</label>
                                            <label for="check">Annuler</label>
                                        </div>
                                    </div>
                                    <button class="button button-secondary" routerLink="/modifier_fiche_consommation" routerLinkActive="active">Modifier</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>                  
                    <div class="big-container">
                    <!-- ======================= Filters ================== -->
                        <div class="filterBox">
                            <div class="filter">
                                <div>
                                    <div class="filterName">Critère</div>
                                    <div class="Menu-options">
                                        <ul class="Drop-down-menu">
                                            <li class="Menu options">
                                                <select class="select-box">
                                                    <option hidden>Sélectionner une option:</option>
                                                    <option>Nº Séjour</option>
                                                    <option>Nº Facture</option>
                                                    <option>Nº Prestation</option>
                                                </select>
                                                <!--
                                                <div class="icon-container">
                                                    <i class="fa fa-caret-down"></i>
                                                </div>
                                                -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="iconFltr">
                                    <i class="fal fa-check-circle faa2x"></i>
                                </div>
                            </div>
                        </div>
                    <!-- ================ boats List ================= -->
                    <div class="details">
                        <div class="Boats">
                            <!--<app-liste-des-bateaux></app-liste-des-bateaux>-->

                            <table>
                                <thead>
                                    <tr>
                                        <td>Nº Consommation</td>
                                        <td>Nº Séjour</td>
                                        <td>Nº facture</td>
                                        <td>Nº prestation</td>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let consommation of consommationsData">
                                        <td>{{ consommation.num }}</td>
                                        <td>{{ consommation.sejour }}</td>
                                        <td>{{ consommation.facture }}</td>
                                        <td>{{ consommation.prestation }}</td>
                                      </tr>
                                  </tbody>
                            </table>

                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>