<div class="all-page flex items-center">
    <app-navbar (onToggleSideNav)="onToggleSideNav($event)"></app-navbar>
    <div class="body" [ngClass]="getBodyClass()">
        <router-outlet></router-outlet>

        <section class="content">
            <div class="left-content">
                <div class="main">
                    <div class="Header">
                        <h1><i class="fas fa-archive faa2x"></i> Archive des Séjours</h1>
                    </div>                  
                    <div class="big-container">
                    
                    <!-- ================ boats List ================= -->
                    <div class="details">
                        <!--<div class="details"(scroll)="onTableScroll($event)">-->
                        <div class="Boats">
                            <table>
                                <thead>
                                    <tr>
                                        <td>Num.</td>
                                        <td>Bébut</td>
                                        <td>Fin</td>
                                        <td>Nbr. Jour</td>
                                        <td>Lib. Tarif</td>
                                        <td>Lib. Type Séjour</td>
                                        <td>Num. Emplacement</td>
                                        <td>Nom Bateau</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let sejour of listSejour">
                                        <td>{{ sejour.id_sej }}</td>
                                        <td>{{ sejour.deb_sej }}</td>
                                        <td>{{ sejour.fin_sej }}</td>
                                        <td>{{ sejour.num_jours }}</td>
                                        <td>{{ sejour.tarif.type_tarif }}</td>
                                        <td>{{ sejour.type_sej.lib_sej }}</td>
                                        <td>{{ sejour.emp.id_emp }}</td>
                                        <td>{{ sejour.bat.nom_bat }}</td>
                                        <!--<td>
                                            <div class="button-group ">
                                            <button type="button" class="button btn btn-outline-primary"
                                                (click)="open(mymodal1,sejour)">Modifier
                                            </button>
                                            <button type="button" class="button btn btn-outline-danger"
                                                (click)="deleteSejour(sejour.id_sej)">Supprimer
                                            </button>
                                            <button class="button" (click)="archiveSejour(sejour.id_sej)">Archiver</button>
                                                <button class="button" (click)="printSejour(sejour)">Imprimer</button>
                                            </div>
                                          </td>-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
