<div class="all-page flex items-center">
    <app-navbar (onToggleSideNav)="onToggleSideNav($event)"></app-navbar>
    <div class="body" [ngClass]="getBodyClass()">
        <router-outlet></router-outlet>

        <section class="content">
            <div class="left-content">
                <div class="main">
                    <div class="Header">
                        <h1><i class="fas fa-search faa2x"></i> Rechercher une Facture & Reglement</h1>
                        <!--
                        <div class="buttons">
                            <div class="submit-box">
                                <div class="button-group button">
                                    <input type="checkbox" id="check">
                                    <label class="button button-primary" for="check">Supprimer</label>
                                    <div class="background"></div>
                                    <div class="alert_box">
                                        <div class="icon">
                                            <i class="fas fa-exclamation"></i>
                                        </div>
                                        <header>Confirmer</header>
                                        <p>Etes-vous sûr de vouloir retirer définitivement cette facture?</p>
                                        <div class="btns">
                                            <label for="check">Oui, Supprimer!!</label>
                                            <label for="check">Annuler</label>
                                        </div>
                                    </div>
                                    <button class="button button-third" routerLink="/modifier_facture" routerLinkActive="active" >Modifier</button>
                                    <button class="button button-secondary" routerLink="/imprimer_facture" routerLinkActive="active">Imprimer</button>
                                </div>
                            </div>
                        </div>
                    -->
                    </div>                  
                    <div class="big-container">
                    <!-- ======================= Filters ================== -->
                        <div class="filterBox">
                            <div class="filter filter-2">
                                <div>
                                    <div class="filterName">Rechercher</div>
                                    <div class="recherche-option">
                                        <div class="input-box">
                                            <label>Nº Facture :</label>
                                            <input type="number" placeholder="Entrer le nº de la facture" />
                                        </div>
                                        <div class="input-box">
                                            <label>Nº du reglement : </label>
                                            <input type="number" placeholder="Entrer le  nº du reglement" />
                                        </div>
                                    </div>  
                                </div>
                                <div class="iconFltr">
                                    <i class="fas fa-search faa2x"></i>
                                </div>
                            </div>
                        </div>
                    <!-- ================ boats List ================= -->
                    <div class="details">
                        <!--<div class="details"(scroll)="onTableScroll($event)">-->
                        <div class="Boats">
                            <table>
                                <thead>
                                    <tr>
                                        <td>Num. facture</td>
                                        <td>Date facture</td>
                                        <td>Montant</td>
                                        <td>Etat paiement</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let facture of listFacture">
                                        <td>{{ facture.id_fact }}</td>
                                        <td>{{ facture.date_fact }}</td>
                                        <td>{{ facture.montant_ttl }}</td>
                                        <td [ngClass]="{
                                            'status-annulee': facture.etat_paiement === 'En cours',
                                            'status-affectee': facture.etat_paiement === 'Non Payée',
                                            'status-non-affectee': facture.etat_paiement === 'Payée'
                                          }">{{ facture.etat_paiement }}</td>
                                        <td>
                                            <div class="button-group ">
                                            <button type="button" class="button btn btn-outline-primary"
                                                (click)="open(mymodal1,facture)">Modifier
                                            </button>
                                            <button type="button" class="button btn btn-outline-danger"
                                                (click)="deleteFacture(facture.id_fact)">Supprimer
                                            </button>
                                            <button class="button" (click)="printFacture(facture)">Imprimer</button>
                                            </div>
                                          </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>













                <ng-template #mymodal1 let-modal1>
                    <div class="modal-body p-4 red-background form-title">
                      <button type="button" class="btn-close" aria-label="Close" (click)="modal1.dismiss('Cross click')"></button>
                      <div>
                        <section class="container mx-auto">
                          <form class="space-y-4">
                            <div class="grid grid-cols-4 gap-4">
                              <h1 class="col-span-4" style="color:#001A1F;font-size: 1.3rem;font-weight: 700;padding: 5px 20px;">Informations sur la facture :</h1>
                              <div class="col-span-4">
                                <label class="block text-gray-700">Nº Facture :</label>
                                <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="facture.id_fact"
                                [ngModelOptions]="{standalone : true}"/>
                              </div>
                              <div class="col-span-1">
                                <label class="block text-gray-700">Date :</label>
                                <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="facture.date_fact"
                                [ngModelOptions]="{standalone : true}"/>
                              </div>
                              <div class="col-span-1">
                                <label class="block text-gray-700">Etat paiement :</label>
                                <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="facture.etat_paiement"
                                [ngModelOptions]="{standalone : true}"/>
                              </div>
                              <div class="col-span-1">
                                <label class="block text-gray-700">Montant :</label>
                                <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="facture.montant_ttl"
                                [ngModelOptions]="{standalone : true}"/>
                              </div>
                              <div class="col-span-1">
                                <label class="block text-gray-700">Exonération :</label>
                                <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="facture.exo_cli"
                                [ngModelOptions]="{standalone : true}"/>
                            
                              </div>
                              <div class="col-span-1">
                                <label class="block text-gray-700">Libelle exonération</label>
                                <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="facture.lib_exo"
                                [ngModelOptions]="{standalone : true}"/>
                              </div>
                            
                              
                              
                            </div>
                          </form>
                          <div class="mt-4">
                            <button type="button" class="button transition" (click)="editFacture(facture)" (click)="modal1.close('Save click')">Enregistrer</button>
                            <button type="button" class="button transition" (click)="modal1.close('Save click')">Annuler</button>
                          </div>
                        </section>
                      </div>
                    </div>
                  </ng-template>











            </div>
        </section>
    </div>
</div>
