<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

<div class="all-page flex items-center">
    <app-navbar (onToggleSideNav)="onToggleSideNav($event)"></app-navbar>
    <div class="body" [ngClass]="getBodyClass()">
        <router-outlet></router-outlet>
        <section class="content">
            <div class="left-content">
                <div class="main">
                    <div class="Header">
                        <h1><i class="fas fa-search faa2x"></i> Rechercher un Client</h1>
                        <!--
                        <div class="buttons">
                            <div class="submit-box">
                                <div class="button-group button">
                                    <input type="checkbox" id="check">
                                    <label class="button button-primary" for="check">Supprimer</label>
                                    <div class="background"></div>
                                    <div class="alert_box">
                                        <div class="icon">
                                            <i class="fas fa-exclamation"></i>
                                        </div>
                                        <header>Confirmer</header>
                                        <p>Etes-vous sûr de vouloir retirer définitivement ce client?</p>
                                        <div class="btns">
                                            <label for="check">Oui, Supprimer!!</label>
                                            <label for="check">Annuler</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    -->
                    </div>                  
                    <div class="big-container">
                        <!-- ======================= Filters ================== -->
                        <div class="filterBox">
                            <div class="filter">
                                <div>
                                    <div class="filterName">Critère</div>
                                    <div class="Menu-options">
                                        <ul class="Drop-down-menu">
                                            <li class="Menu options">
                                                <select class="select-box">
                                                    <option hidden>Sélectionner une option:</option>
                                                    <option>Numéro Client</option>
                                                    <option>Nom </option>
                                                    <option>Prénom</option>
                                                    <option>Etat Civil</option>
                                                    <option>Adresse</option>
                                                    <option>Code Postal</option>
                                                    <option>Ville</option>
                                                    <option>Pays</option>
                                                    <option>Nationnalité</option>
                                                    <option>Pavillon</option>
                                                    <option>Numéro téléphone</option>
                                                    <option>Mobile</option>
                                                    <option>Fax</option>
                                                    <option>Exonération</option>
                                                    <option>Email</option>
                                                </select>
                                                <!--
                                                <div class="icon-container">
                                                    <i class="fa fa-caret-down"></i>
                                                </div>
                                                -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="iconFltr">
                                    <i class="fas fa-check-circle faa2x"></i>
                                </div>
                            </div>
                            <div class="filter filter-2">
                                <div>
                                    <div class="filterName">Rechercher</div>
                                    <div class="recherche-option">
                                    <div class="option-recherche-details">
                                        <input type="radio" name="option-recherche" id="dot-1">
                                        <input type="radio" name="option-recherche" id="dot-2">
                                        <input type="radio" name="option-recherche" id="dot-3">
                                        <div class="category">
                                            <label for="dot-1">
                                            <span class="dot one"></span>
                                            <span class="option-recherche" style="font-weight: normal;">Commencant par :</span>
                                        </label>
                                        <label for="dot-2">
                                            <span class="dot two"></span>
                                            <span class="option-recherche"style="font-weight: normal;">Contenant :</span>
                                        </label>
                                        <label for="dot-3">
                                            <span class="dot three"></span>
                                            <span class="option-recherche"style="font-weight: normal;">Finissant par :</span>
                                        </label>
                                        </div>
                                    </div>
                                        <div class="input-box">
                                            <input type="text" placeholder="Faire une recherche" />
                                        </div>
                                    </div>  
                                </div>
                                <div class="iconFltr">
                                    <i class="fas fa-search faa2x"></i>
                                </div>
                            </div>
                        </div>
                    <!-- ================ clients List ================= -->
                    <div class="details">
                        <div class="clients">
                            <table>
                                <thead>
                                    <tr>
                                        <td>Numéro Client</td>
                                        <td>Nom</td>
                                        <td>Prénom</td>
                                        <td>Etat Civil</td>
                                        <td>Code postal</td>
                                        <td>Ville</td>
                                        <td>Pays</td>
                                        <td>Num. tél.</td>
                                        <td>Mobile</td>
                                        <td>Fax</td>
                                        <td>Exonération</td>
                                        <td>Email</td>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let client of listClient">
                                        <td>{{ client.id_cli }}</td>
                                        <td>{{ client.nom_cli }}</td>
                                        <td>{{ client.prenom_cli }}</td>
                                        <td>{{ client.etat_civil }}</td>
                                        <td>{{ client.code_postal_cliii}}</td>
                                        <td>{{ client.ville_cli }}</td>
                                        <td>{{ client.pays.nom_pays }}</td>
                                        <td>{{ client.tel_cli }}</td>
                                        <td>{{ client.mobile_cli }}</td>
                                        <td>{{ client.fax_cli }}</td>
                                        <td>{{ client.exo_cli }}</td>
                                        <td>{{ client.email_cli }}</td>
                                        <td>
                                            <div class="button-group ">
                                            <button type="button" class="button btn btn-outline-primary"
                                                (click)="open(mymodal1,client)">Modifier
                                            </button>
                                            <button type="button" class="button btn btn-outline-danger"
                                                (click)="deleteClient(client.id_cli)">Supprimer
                                            </button>

                                            <!--<button class="button" (click)="archiveClient(client.id_cli)">Archiver</button>-->
                                            
                                                <button class="button" (click)="printClient(client)">Imprimer</button>
                                            </div>
                                          </td>
                                          
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
            
            
            
                <ng-template #mymodal1 let-modal1>
                    <div class="modal-body p-4 red-background">
                      <button type="button" class="btn-close" aria-label="Close" (click)="modal1.dismiss('Cross click')"></button>
                      <div>
                        <section class="container mx-auto">
                          <form class="space-y-4">
                            <h2 class="text-xl font-semibold">Modifier la fiche du Client :</h2>
                            
                            <div class="grid grid-cols-2 gap-4">
                              <div class="col-span-2">
                                <label class="block text-gray-700">Nom Client :</label>
                                <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="Client.nom_cli" [ngModelOptions]="{standalone : true}" placeholder="Entrer le nom du client" />
                              </div>
                              <div class="col-span-2">
                                <label class="block text-gray-700">Prenom Client :</label>
                                <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="Client.prenom_cli" [ngModelOptions]="{standalone : true}" placeholder="Entrer le prénom du client" />
                              </div>
                              <div class="col-span-1">
                                <label class="block text-gray-700">Pays :</label>
                                <select class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="selectedPays"  name="id_pays">
                                  <option *ngFor="let Pays of listPays" [ngValue]="Pays">{{ Pays.nom_pays }}--{{ Pays.nationnalite }}--{{ Pays.pavillon }}</option>
                                </select>
                              </div>
                              
                              <div class="col-span-2">
                                <label class="block text-gray-700">Adresse :</label>
                                <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="Client.adresse_cli" [ngModelOptions]="{standalone : true}" placeholder="Entrer l'adresse du client" />
                              </div>
                              <div class="col-span-1">
                                <label class="block text-gray-700">Ville :</label>
                                <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="Client.ville_cli" [ngModelOptions]="{standalone : true}" placeholder="Entrer la ville du client" />
                              </div>
                              <div class="col-span-2 grid grid-cols-2 gap-4">
                                <div>
                                  <label class="block text-gray-700">Email :</label>
                                  <input type="email" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="Client.email_cli" [ngModelOptions]="{standalone : true}" placeholder="Entrer l'email" />
                                </div>
                                <div>
                                  <label class="block text-gray-700">Numéro du téléphone :</label>
                                  <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="Client.tel_cli" [ngModelOptions]="{standalone : true}" placeholder="Entrer le numéro du téléphone" />
                                </div>
                              </div>
                              <div class="col-span-2 grid grid-cols-2 gap-4">
                                <div>
                                  <label class="block text-gray-700">Numéro mobile :</label>
                                  <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="Client.mobile_cli" [ngModelOptions]="{standalone : true}" placeholder="Entrer le numéro mobile" />
                                </div>
                                <div>
                                  <label class="block text-gray-700">Numéro fax :</label>
                                  <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="Client.fax_cli" [ngModelOptions]="{standalone : true}" placeholder="Entrer le numéro fax" />
                                </div>
                              </div>
                              <div class="col-span-2 flex space-x-4">
                                <div>
                                  <label class="block text-gray-700">Etat civil :</label>
                                  <div class="flex space-x-4">
                                    <label class="flex items-center">
                                      <input type="radio" name="option-check" id="dot-1" class="mr-2" [(ngModel)]="Client.etat_civil" [ngModelOptions]="{standalone: true}">
                                      Marié(e)
                                    </label>
                                    <label class="flex items-center">
                                      <input type="radio" name="option-check" id="dot-2" class="mr-2"[(ngModel)]="Client.etat_civil" [ngModelOptions]="{standalone: true}">
                                      Non
                                    </label>
                                  </div>
                                </div>
                                <div>
                                  <label class="block text-gray-700">Exonération :</label>
                                  <div class="flex space-x-4">
                                    <label class="flex items-center">
                                      <input type="radio" name="option-check" id="dot-1" class="mr-2" [(ngModel)]="Client.exo_cli" [ngModelOptions]="{standalone: true}">
                                      Exonéré(e)
                                    </label>
                                    <label class="flex items-center">
                                      <input type="radio" name="option-check" id="dot-2" class="mr-2" [(ngModel)]="Client.exo_cli" [ngModelOptions]="{standalone: true}">
                                      Non
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                          <div>                            
                                <button type="button" class=" button transition" (click)="editClient(Client)" (click)="modal1.close('Save click')">Enregistrer</button>
                                <button type="button" class="button  transition" (click)="modal1.close('Save click')">Annuler</button>
                              </div>
                          
                        </section>
                      </div>
                    </div>
                  </ng-template>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </div>
        </section>
    </div>
</div>