<div class="all-page flex items-center">
    <app-navbar (onToggleSideNav)="onToggleSideNav($event)"></app-navbar>
    <div class="body" [ngClass]="getBodyClass()">
        <router-outlet></router-outlet>

        <section class="content">
            <div class="left-content">
                <div class="main">
                    <div class="Header">
                        <h1><i class="fal fa-search faa2x"></i> Rechercher un Emplacement</h1>
                        
                    </div>                  
                    <div class="big-container">
                    <!-- ======================= Filters ================== -->
                        <div class="filterBox">
                            <div class="filter filter-2">
                                <div>
                                    <div class="filterName">Rechercher</div>
                                    <div class="recherche-option">
                                        <div class="input-box">
                                            <label>Largeur :</label>
                                            <input type="number" placeholder="Entrer la largeur" />
                                        </div>
                                        <div class="input-box">
                                            <label>Longueur :</label>
                                            <input type="number" placeholder="Entrer la longueur" />
                                        </div>
                                    </div>  
                                </div>
                                <div class="iconFltr">
                                    <i class="fal fa-search faa2x"></i>
                                </div>
                            </div>
                        </div>
                    <!-- ================ boats List ================= -->
                    <div class="details">
                        <!--<div class="details"(scroll)="onTableScroll($event)">-->
                        <div class="Boats">
                            <table>
                                <thead>
                                    <tr>
                                        <td>ID</td>
                                        <td>Longueur</td>
                                        <td>Largeur</td>
                                        <td>Tirant d'eau</td>
        
                                        <td>Nbr. Mouillage</td>
                                        <td>Type Corde</td>
                                        <td>Rang</td>
                                        <td>Blockages</td>
                                        <td>Direction</td>
                                        <td>Pelectrique</td>
                                        <td>Quai</td>
                                        <td>Rang Quai</td>
                                    </tr>
                                </thead>
        
                                <tbody>
                                    <tr *ngFor="let emplacement of listEmplacement">
                                        <td>{{ emplacement.id_emp }}</td>
                                        <td>{{ emplacement.longueur_emp }}</td>
                                        <td>{{ emplacement.largeur_emp }}</td>
                                        <td>{{ emplacement.tirant_eau_emp }}</td>
                                        <td>{{ emplacement.nbr_mouillage_emp }}</td>
                                        <td>{{ emplacement.type_cord_emp}}</td>
                                        <td>{{ emplacement.rang }}</td>
                                        <td>{{ emplacement.blockage }}</td>
                                        <td>{{ emplacement.direction_emp }}</td>
                                        <td>{{ emplacement.designation }}</td>
                                        <td>{{ emplacement.desig_quai }}</td>
                                        <td>{{ emplacement.rang_quai }}</td>
                                        <td>
                                            <div class="button-group ">
                                            <button type="button" class="button btn btn-outline-primary"
                                                (click)="open(mymodal1,emplacement)">Modifier
                                            </button>
                                            <button type="button" class="button btn btn-outline-danger"
                                                (click)="deleteEmplacement(emplacement.id_emp)">Supprimer
                                            </button>
                                            
                                            </div>
                                          </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>




                <ng-template #mymodal1 let-modal1>
                    <div class="modal-body p-4 red-background form-title">
                      <button type="button" class="btn-close" aria-label="Close" (click)="modal1.dismiss('Cross click')"></button>
                      <div>
                        <section class="container mx-auto">
                          <form class="space-y-4">
                            <div class="grid grid-cols-4 gap-4">
                              <h1 class="col-span-4" style="color:#001A1F;font-size: 1.3rem;font-weight: 700;padding: 5px 20px;">Informations sur l'emplacement :</h1>
                              <div class="col-span-4">
                                <label class="block text-gray-700">Largeur :</label>
                                <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="emplacement.largeur_emp" [ngModelOptions]="{standalone: true}" />
                              </div>
                              <div class="col-span-1">
                                <label class="block text-gray-700">Longueur :</label>
                                <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="emplacement.longueur_emp" [ngModelOptions]="{standalone: true}" />
                              </div>
                              <div class="col-span-1">
                                <label class="block text-gray-700">Tirant d'eau :</label>
                                <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="emplacement.tirant_eau_emp" [ngModelOptions]="{standalone: true}" />
                              </div>
                              <div class="col-span-1">
                                <label class="block text-gray-700">Nombre de mouillage :</label>
                                <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="emplacement.nbr_mouillage_emp" [ngModelOptions]="{standalone: true}" />
                              </div>
                              
                              <div class="col-span-1">
                                <label class="block text-gray-700">Type corde :</label>
                                <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="emplacement.type_cord_emp" [ngModelOptions]="{standalone: true}" />
                              </div>
                              <div class="col-span-1">
                                <label class="block text-gray-700">Commentaire :</label>
                                <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="emplacement.commentaire" [ngModelOptions]="{standalone: true}" />
                              </div>
                              <div class="col-span-1">
                                <label class="block text-gray-700">Rang :</label>
                                <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="emplacement.rang" [ngModelOptions]="{standalone: true}" />
                              </div>
                              <div class="col-span-1">
                                <label class="block text-gray-700">Direction :</label>
                                <input type="text" class="w-full p-2 border border-gray-300 rounded" [(ngModel)]="emplacement.direction_emp" [ngModelOptions]="{standalone: true}" />
                              </div>
                              
                            </div>
                          </form>
                          <div class="mt-4">
                            <button type="button" class="button transition" (click)="editEmplacement(emplacement)" (click)="modal1.close('Save click')">Enregistrer</button>
                            <button type="button" class="button transition" (click)="modal1.close('Save click')">Annuler</button>
                          </div>
                        </section>
                      </div>
                    </div>
                  </ng-template>

            </div>
        </section>
    </div>
</div>
