<div class="all-page flex items-center">
    <app-navbar (onToggleSideNav)="onToggleSideNav($event)"></app-navbar>
    <div class="body" [ngClass]="getBodyClass()">
      <router-outlet></router-outlet>
  
      <section class="content">
        <div class="left-content">
          <div class="main">
            <div class="BigTitle">
              <h1><i class="fas fa-ship faa2x"></i> Ajouter un Tarif de Prestation</h1>
            </div>
            <div class="big-container">
              <div class="formulaire-boxes">
                <!-- Formulaire Etape 1 -->
                <div>
                  <section class="container container-1">
                    <form action="#" class="form">
                      <h1 class="form-title">Informations tarif prestation :</h1>
                      <div class="column">
                        <div class="input-box">
                          <label>Nº de la prestation :</label>
                          <input type="text" placeholder="Entrer le numéro de la prestation" required 
                          [(ngModel)]="prestation.id_prest"
                          [ngModelOptions]="{standalone : true}"/>
                        </div>
                        <div class="input-box">
                          <label>Libelle de la prestation :</label>
                          <input type="text" placeholder="Entrer la libelle de la prestation" required 
                          [(ngModel)]="prestation.lib_prest"
                          [ngModelOptions]="{standalone : true}"/>
                        </div>
                        
                      </div>
                      <div class="column">
                        <div class="input-box">
                          <label>Prix unitaire de la prestation :</label>
                          <input type="number" placeholder="Entrer le prix unitaire de la prestation" required 
                          [(ngModel)]="prestation.prix_unit_prest"
                          [ngModelOptions]="{standalone : true}"/>
                        </div>
                        <div class="input-box">
                          <label>Secteur de la prestation :</label>
                          <input type="text" placeholder="Entrer le secteur de la prestation"  required 
                          [(ngModel)]="prestation.secteur_prest"
                          [ngModelOptions]="{standalone : true}"/>
                        </div>
                      </div>
                      <div class="column">
                        <div class="input-box">
                          <label>Rang de la prestation :</label>
                          <input type="text" placeholder="Entrer le rang de la prestation"  required 
                          [(ngModel)]="prestation.rang_prest"
                          [ngModelOptions]="{standalone : true}"/>
                        </div>
                        <div class="input-box">
                          <label  for="id_tva">Nº TVA</label>
                          <div class="select-box" >
                            <select id="id_tva" [(ngModel)]="tva.id_tva" name="id_tva">
                              <option *ngFor="let tva of listTvas">{{ tva.id_tva }}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="column">
                        <div class="input-box">
                          <label for="lib_type_prest">Libelle du type prestation</label>
                          <div class="select-box" >
                            <select id="lib_type_prest" [(ngModel)]="selectedTypePrestation" (change)="onNomChange($event)" name="id_type_prest">
                              <option *ngFor="let type_prestation of listTypePrestations" [ngValue]="type_prestation">{{ type_prestation.lib_type_prest }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="input-box">
                          <label  for="rang_type_prest">Rang du type prestation</label>
                          <div class="select-box" >
                            <select id="rang_type_prest" [(ngModel)]="typePrestation.rang_type_prest" name="rang_type_prest">
                              <option *ngFor="let rang of rangs">{{ rang }}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="input-box">
                        <label for="lib_nature">Nature de prestation</label>
                        <div class="select-box">
                          <select id="lib_nature" [(ngModel)]="nature.lib_nature" name="id_nature">
                            <option *ngFor="let nature of listNatures" [ngValue]="nature">{{ nature.lib_nature}}</option>
                          </select>
                        </div>
                      </div>
                    </form>
                    <div class="submit-box">
                        <div class="button-group button">
                          <button class="button button-primary" routerLink="/afficher_tarif_prestation"  routerLinkActive="active" >Annuler</button>
                          <button type="button" class="btn btn-success" (click)="addPrestationAndTva()"
                          class="button button-secondary">Ajouter</button>
                        </div>
                      </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
    </div>
  </div>
  