<div class="all-page flex items-center">
    <app-navbar (onToggleSideNav)="onToggleSideNav($event)"></app-navbar>
    <div class="body" [ngClass]="getBodyClass()">
    <router-outlet></router-outlet>

    <section class="content">
        <div class="left-content">
            <div class="main">
                <div class="BigTitle">
                    <h1><i class="fas fa-file-invoice faa2x"></i> Ajouter un séjour</h1>
                </div>
                <div class="big-container">
                    <div class="formulaire-boxes">
                        <!-- Formulaire Etape 1 -->
                        <div>
                            <section class="container container-1">
                            <form action="#" class="form">
                                <br>
                                <h1 class="form-title">Information du séjour :</h1>
                                <div class="column">
                                    <div class="input-box">
                                        <label>Nº séjour :</label>
                                        <input type="number" placeholder="Entrer le numéro du séjour" required  
                                        [(ngModel)]="sejour.id_sej"
                                        [ngModelOptions]="{standalone : true}"/>
                                    </div>
                                    
                                </div>
                                <div class="column">
                                  
                                      <div class="input-box">
                                        <div class="input-box">
                                            <label for="id_emp">emplacement</label>
                                            <div class="select-box" >
                                                <select id="id_emp" [(ngModel)]="sejour.emp" name="id_emp">
                                                    <option hidden>Liste emplacement :</option>
                                                    <option *ngFor="let emplacement of listEmplacement" [ngValue]="emplacement">{{ emplacement.id_emp}}</option>
                                                  </select>
                                                
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="column">
                                    <div class="input-box">
                                        <div class="input-box">
                                            <label for="nom_bat">Nom du bateau :</label>
                                            <div class="select-box" >
                                                <select id="nom_bat" [(ngModel)]="sejour.bat" name="nom_bat">
                                                    
                                                    <option *ngFor="let bateau of listBateau" [ngValue]="bateau">{{ bateau.nom_bat}}</option>
                                                  </select>
                                                
                                            </div>
                                        </div>
                                        <div class="input-box">
                                            <label for="lib_sej">type sejour :</label>
                                            <div class="select-box" >
                                                <select id="lib_sej" [(ngModel)]="sejour.type_sej" name="id_type_sej">
                                                    
                                                    <option *ngFor="let typeSejour of listTypeSejour" [ngValue]="typeSejour">{{ typeSejour.lib_sej}}</option>
                                                  </select>
                                                
                                            </div>
                                        </div>

                                        <div class="input-box">
                                            <label for="id_tarif">Tarif  :</label>
                                            <div class="select-box" >
                                                <select id="id_tarif" [(ngModel)]="sejour.tarif" name="id_tarif">
                                                    
                                                    <option *ngFor="let tarif of listTarif" [ngValue]="tarif">{{ tarif.id_tarif}}</option>
                                                  </select>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    

                                    
                                </div>
                                <div class="column">
                                    
                                </div>
                                <div class="column">
                                    <div class="input-box">
                                        <label>Début :</label>
                                        <input type="date" placeholder="Entrer l'immatriculation du bateau" required required  
                                        />
                                    </div>
                                    <div class="input-box">
                                        <label>Fin :</label>
                                        <input type="date" placeholder="Entrer un autre nom du bateau"required  
                                        [(ngModel)]="sejour.fin_sej"
                                        [ngModelOptions]="{standalone : true}"/>
                                    </div>
                                    <div class="input-box">
                                        <label>Nº des jours :</label>
                                        <input type="number" placeholder="Entrer le numero des jours" required  
                                        [(ngModel)]="sejour.num_jours"
                                        [ngModelOptions]="{standalone : true}"/>
                                    </div>
                                </div>
                                <br>
                               
                                
                                <br>
                                <div>
                                    <div class="submit-box">
                                        <div class="button-group button">
                                            <button class="button button-primary" [routerLink]="['/rechercher_séjour']" routerbuttonActive="active"  >Annuler</button>
                                            <button (click)="addSejour()" id="send" class="button button-secondary">Ajouter</button>
                                        </div>
                                    </div>
                                    <div class="message">
                                        <div class="success" id="success">Séjour ajouté avec succès! </div>
                                        <div class="danger" id="danger">Vérifier les champs obligatoires! </div>
                                    </div>
                                </div>
                                
                            </form>
                            
                            </section>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
</div>