<div class="all-page flex items-center">
    <app-navbar (onToggleSideNav)="onToggleSideNav($event)"></app-navbar>
    <div class="body" [ngClass]="getBodyClass()">
    <router-outlet></router-outlet>

    <section class="content">
        <div class="left-content">
            <div class="main">
                <div class="BigTitle">
                    <h1><i class="fal fa-file-invoice faa2x"></i> Ajouter une réservation</h1>
                </div>
                <div class="big-container">
                    <div class="formulaire-boxes">
                        <!-- Formulaire Etape 1 -->
                        <div >
                            <section class="container container-1">
                                <form action="#" class="form">
                                    <br>
                                    <h1 class="form-title">Information de la réservation :</h1>
                                    <div class="column">
                                        <div class="input-box">
                                            <label>Nº séjour :</label>
                                            <input type="number" placeholder="Entrer le numéro du séjour" required  
                                            [(ngModel)]="Reservation.id_reservation"
                                            [ngModelOptions]="{standalone : true}"/>
                                        </div>
                                        <div class="input-box">
                                            <label>Nº du réservation :</label>
                                            <input type="number" placeholder="Entrer le numéro de la réservation" required  
                                            [(ngModel)]="Reservation.id_reservation"
                                            [ngModelOptions]="{standalone : true}"/>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="input-box">
                                            <label>Nº tarif :</label>
                                            <input type="number" placeholder="Entrer le numéro du tarif" required  
                                            [(ngModel)]="Reservation.id_tarif"
                                            [ngModelOptions]="{standalone : true}"/>
                                        </div>
                                        <div class="input-box">
                                            <label>Nº emplacement :</label>
                                            <input type="number" placeholder="Entrer le numero d'emplacement'" required  
                                            [(ngModel)]="Reservation.id_emp"
                                            [ngModelOptions]="{standalone : true}"/>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="input-box">
                                            <label>Nº du bateau :</label>
                                            <input type="number" placeholder="Entrer le nom du bateau" required  
                                            [(ngModel)]="Reservation.id_bat"
                                            [ngModelOptions]="{standalone : true}"/>
                                        </div>
                                        <div class="input-box">
                                            <label>Nom du bateau :</label>
                                            <input type="text" placeholder="Entrer le numéro du bateau" required  
                                            [(ngModel)]="Reservation.nom_bat"
                                            [ngModelOptions]="{standalone : true}"/>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="input-box">
                                            <label>Nº du propriétaire :</label>
                                            <input type="number" placeholder="Entrer le nom du propriétaire" required  
                                            [(ngModel)]="Reservation.id_cli"
                                            [ngModelOptions]="{standalone : true}"/>
                                        </div>
                                        <div class="input-box">
                                            <label>Nom du propriétaire :</label>
                                            <input type="text" placeholder="Entrer le numero du propriétaire"  required  
                                            [(ngModel)]="Reservation.nom_cli"
                                            [ngModelOptions]="{standalone : true}"/>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="input-box">
                                            <label>Début :</label>
                                            <input type="date" placeholder="Entrer l'immatriculation du bateau" required required  
                                            [(ngModel)]="Reservation.deb_sej"
                                            [ngModelOptions]="{standalone : true}"/>
                                        </div>
                                        <div class="input-box">
                                            <label>Fin :</label>
                                            <input type="date" placeholder="Entrer un autre nom du bateau"required  
                                            [(ngModel)]="Reservation.fin_sej"
                                            [ngModelOptions]="{standalone : true}"/>
                                        </div>
                                        <div class="input-box">
                                            <label>Nº des jours :</label>
                                            <input type="number" placeholder="Entrer le numero des jours" required  
                                            [(ngModel)]="Reservation.num_jours"
                                            [ngModelOptions]="{standalone : true}"/>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="column">
                                        <div class="input-box">
                                            <label>Nº du type séjours :</label>
                                            <input type="number" placeholder="Entrer le numéro du type séjour" required required  
                                            [(ngModel)]="Reservation.id_type_sej"
                                            [(ngModel)]="Reservation.id_type_sej"
                                            [ngModelOptions]="{standalone : true}"/>
                                        </div>
                                        <div class="input-box">
                                            <label>Majoration :</label>
                                            <input type="number" placeholder="Entrer la majoration" required  
                                            [(ngModel)]="Reservation.id_reservation"
                                            [ngModelOptions]="{standalone : true}"/>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="input-box">
                                            <div class="input-box">
                                                <label>Type séjour :</label>
                                                <div class="select-box" >
                                                    <select required>
                                                        <option hidden>Types :</option>
                                                        <option>Annuel</option>
                                                        <option>Mensuel</option>
                                                        <option>Passager</option>
                                                        <option>Professionnel</option>
                                                        <option>Hivernage</option>
                                                        <option>Titulaire</option>
                                                        <option>Autorisé</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div>
                                        <div class="submit-box">
                                            <div class="button-group button">
                                                <button class="button button-primary" [routerLink]="['/rechercher_séjour']" routerbuttonActive="active"  >Annuler</button>
                                                <button (click)="addReservationAndTypeSejour()" id="send" class="button button-secondary">Ajouter</button>
                                            </div>
                                        </div>
                                        <div class="message">
                                            <div class="success" id="success">Réservation ajoutée avec succès! </div>
                                            <div class="danger" id="danger">Vérifier les champs obligatoires! </div>
                                        </div>
                                    </div>
                                    
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
</div>