<div class="all-page flex items-center">
    <app-navbar (onToggleSideNav)="onToggleSideNav($event)"></app-navbar>
    <div class="body" [ngClass]="getBodyClass()">
        <router-outlet></router-outlet>
    
        <section class="content">
            <div class="left-content">
                <div class="main">
                    <div class="BigTitle">
                        <div class="BigTitle">
                            <h1><i class="fal fa-water faa2x"></i> Plan D'eau</h1>                
                        </div>
                    </div>

            <!-- ======================= Filters ================== -->
            <div class="filterBox">
                <div class="filter">
                    <div>
                        <div class="filterName">Secteur</div>
                        <div class="Menu-options">
                            <ul class="Drop-down-menu">
                                <li class="Menu options">
                                    <select class="select-box">
                                        <option>Sélectionner un secteur:</option>
                                        <option>Publique</option>
                                        <option>Amodié</option>
                                        <option>Tous</option>
                                    </select>
                                    <!--
                                    <div class="icon-container">
                                        <i class="fa fa-caret-down"></i>
                                    </div>
                                    -->
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="iconFltr">
                        <i class="fal fa-universal-access faa2x"></i>
                    </div>
                </div>

                <div class="filter">
                    <div>
                        <div class="filterName">Dimensions</div>
                        <div class="Menu-options">
                            <ul class="Drop-down-menu">
                                <li class="Menu options">
                                    <select class="select-box">
                                        <option>Sélectionner une dimension:</option>
                                        <option>dim1</option>
                                        <option>dim2</option>
                                        <option>dim3</option>
                                    </select>
                                    <!--
                                    <div class="icon-container">
                                        <i class="fa fa-caret-down"></i>
                                    </div>
                                    -->
                                </li>
                            </ul>
                        </div>      
                    </div>

                    <div class="iconFltr">
                        <i class="fal fa-chart-bar faa2x"></i>
                    </div>
                </div>

                <div class="filter">
                    <div>
                        <div class="filterName">Critère</div>
                        <div class="Menu-options">
                            <ul class="Drop-down-menu">
                                <li class="Menu options">
                                    <select class="select-box">
                                        <option hidden>Sélectionner un critère:</option>
                                        <option>Emplacements occupés</option>
                                        <option>Emplacements non occupés</option>
                                        <option>...</option>
                                    </select>
                                    <!--
                                    <div class="icon-container">
                                        <i class="fa fa-caret-down"></i>
                                    </div>
                                    -->
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="iconFltr">
                        <i class="fal fa-check-circle faa2x"></i>
                    </div>
                </div>
            </div>

            <!-- ================ boats List ================= -->
            <div class="details">
                <div class="Boats">

                    <table>
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Nom</td>
                                <td>Prenom Client</td>
                                <td>Nom Client</td>
                                <td>Immat.</td>
                                <td>Types</td>
                                <td>Pavillon</td>
                                <td>Marque</td>
                                <td>Adresse</td>
                                <td>Code postal</td>
                                <td>Ville</td>
                                <td>Pays</td>
                                <td>Longueur</td>
                                <td>Largeur</td>
                                <td>Tirant d'eau</td>
                                <td>Autre Nom</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let bateau of listBateau">
                                <td>{{ bateau.id_bat }}</td>
                                <td>{{ bateau.nom_bat }}</td>
                                <td>{{ bateau.client.prenom_cli }}</td>
                                <td>{{ bateau.client.nom_cli }}</td>
                                <td>{{ bateau.immatriculation_bat }}</td>
                                <td>{{ bateau.typeBateau.type_bat }}</td>
                                <td>{{ bateau.pavillon_bat }}</td>
                                <td>{{ bateau.marque_bat }}</td>
                                <td>{{ bateau.adresse_bat }}</td>
                                <td>{{ bateau.code_postal_bat }}</td>
                                <td>{{ bateau.ville_bat }}</td>
                                <td>{{ bateau.pays }}</td>
                                <td>{{ bateau.largeur_bat }}</td>
                                <td>{{ bateau.largeur_bat }}</td>
                                <td>{{ bateau.tirant_eau_bat }}</td>
                                <td>{{ bateau.autre_ident_nom_bat }}</td>
                                <td>
                                    <div class="button-group ">
                                        <button class="button" (click)="printBateau(bateau)">Imprimer</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

                </div>

            </div>
        </section>
    
    </div>
</div>