<div class="all-page flex items-center">
    <app-navbar (onToggleSideNav)="onToggleSideNav($event)"></app-navbar>
    <div class="body" [ngClass]="getBodyClass()">
        <router-outlet></router-outlet>
    
        <section class="content">
            <div class="left-content">
                <div class="main">
                    <div class="BigTitle">
                        <div class="BigTitle">
                            <h1><i class="fal fa-water faa2x"></i> Plan D'eau</h1>                
                        </div>
                    </div>

            <!-- ======================= Filters ================== -->
            <div class="filterBox">
                <div class="filter">
                    <div>
                        <div class="filterName">Secteur</div>
                        <div class="Menu-options">
                            <ul class="Drop-down-menu">
                                <li class="Menu options">
                                    <select class="select-box">
                                        <option>Sélectionner un secteur:</option>
                                        <option>Publique</option>
                                        <option>Amodié</option>
                                        <option>Tous</option>
                                    </select>
                                    <!--
                                    <div class="icon-container">
                                        <i class="fa fa-caret-down"></i>
                                    </div>
                                    -->
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="iconFltr">
                        <i class="fal fa-universal-access faa2x"></i>
                    </div>
                </div>

                <div class="filter">
                    <div>
                        <div class="filterName">Dimensions</div>
                        <div class="Menu-options">
                            <ul class="Drop-down-menu">
                                <li class="Menu options">
                                    <select class="select-box">
                                        <option>Sélectionner une dimension:</option>
                                        <option>dim1</option>
                                        <option>dim2</option>
                                        <option>dim3</option>
                                    </select>
                                    <!--
                                    <div class="icon-container">
                                        <i class="fa fa-caret-down"></i>
                                    </div>
                                    -->
                                </li>
                            </ul>
                        </div>      
                    </div>

                    <div class="iconFltr">
                        <i class="fal fa-chart-bar faa2x"></i>
                    </div>
                </div>

                <div class="filter">
                    <div>
                        <div class="filterName">Critère</div>
                        <div class="Menu-options">
                            <ul class="Drop-down-menu">
                                <li class="Menu options">
                                    <select class="select-box">
                                        <option hidden>Sélectionner un critère:</option>
                                        <option>Emplacements occupés</option>
                                        <option>Emplacements non occupés</option>
                                        <option>...</option>
                                    </select>
                                    <!--
                                    <div class="icon-container">
                                        <i class="fa fa-caret-down"></i>
                                    </div>
                                    -->
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="iconFltr">
                        <i class="fal fa-check-circle faa2x"></i>
                    </div>
                </div>
            </div>

            <!-- ================ boats List ================= -->
            <div class="details">
                <div class="Boats">

                    <table>
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Longueur</td>
                                <td>Largeur</td>
                                <td>Tirant d'eau</td>

                                <td>Nbr. Mouillage</td>
                                <td>Type Corde</td>
                                <td>Rang</td>
                                <td>Blockages</td>
                                <td>Direction</td>
                                <td>Pelectrique</td>
                                <td>Quai</td>
                                <td>Rang Quai</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let emplacement of listEmplacement">
                                <td>{{ emplacement.id_emp }}</td>
                                <td>{{ emplacement.longueur_emp }}</td>
                                <td>{{ emplacement.largeur_emp }}</td>
                                <td>{{ emplacement.tirant_eau_emp }}</td>
                                <td>{{ emplacement.nbr_mouillage_emp }}</td>
                                <td>{{ emplacement.type_cord_emp}}</td>
                                <td>{{ emplacement.rang }}</td>
                                <td>{{ emplacement.blockage }}</td>
                                <td>{{ emplacement.direction_emp }}</td>
                                <td>{{ emplacement.designation }}</td>
                                <td>{{ emplacement.desig_quai }}</td>
                                <td>{{ emplacement.rang_quai }}</td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

                </div>

            </div>
        </section>
    
    </div>
</div>