.body{
    width: calc(100vw - 8.5rem);
    max-height: 100vh;
    background: #f4f7fa;/*#8709ca;/////////////////////////////////////////////////*/
    z-index: 0;
    position:relative;
    top: 0;
    transition: all .5s ease;
  }
  
  .body-trimmed{
    width: calc(100vw - 20rem);
  }
  
  .body-md-screen{
    width: calc(100vw - 20rem);
  }
  
  /* ===================== Content ===================== */
  .content {
    display: block;
    width: 100%;
  }
  
  /* LEFT CONTENT */
  .left-content {
    display: flex;
    width: 98.5%;
    background: rgba(33, 26, 61, 0.1);
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
    height: 97vh;
    position: relative;
    /*background-image: url('../../../../../assets/images/background\ finale.png'); /* Chemin vers votre image */
    /*background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la zone */
    /*background-position: center; /* Centre l'image horizontalement et verticalement */
  }
  
  /* ===================== Main ===================== */
  .main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    transition: 0.5s;
  }
  
  .Header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    height: 60px;
    cursor: pointer;
    justify-content: space-between;
  }
  
  .Header h1 {
    margin: 0 0 10px;
    font-size: 2.3rem;
    font-weight: 700;
    color: #001A1F;/**********************************************************/
  }
  
  /*buttons*/
  .button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border: none;
    margin-top: 0;
    padding-top: 0;
    background-color: yellow;
    height: 70px;
  }
  
  .button {
    text-decoration: none;
    color: #001A1F;
    font-weight: 500;
    text-transform: uppercase; 
    font-size: 14px;
    padding: 12px;
    border: 2px solid ; 
    border-radius: 0px;
    background: transparent;
    transition: 0.25s ease-in-out;
    text-align: center;
    border: none;
    margin-top: 0;
  }

  .button-secondary { 
    background: #ffffff;
    border: 1px solid #c1c1c1;
    border-radius: 100px; 
    width: 200px;
    transform: translateX(-15px);
    cursor: pointer;
  }
  
  .button-secondary:hover, 
  .button-secondary:focus { 
    background:  rgba(33, 26, 61, 0.2);
  }
  

  
  
  /* ================== form-container ============== */
  .big-container{
    height: 86%;
    display: block;
    align-items: center;
    justify-content: center;
  }
  
  /* ======================= Filters ====================== */
  .filterBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    justify-content: center; /* Centrage horizontal */
  }
  
  .filterBox .filter {
        position: relative;
        padding: 30px;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
        background-color:#f4f7fa;/* #426207;*************************************************************/
        margin: 0px;
        width: 1050px;
      }
      
      .filterBox .filter .filterName {
        position: relative;
        font-weight: 500;
        font-size: 2.5rem;
        color:#001A1F;/* rgb(20, 224, 92);**********************************************/
      }
        
        
      .filterBox .filter .iconFltr {
        font-size: 3.5rem;
        color: #001A1F;
        transform: translateX(-180px);
      }
      
      .filterBox .filter:hover {
        background:  rgba(33, 26, 61, 0.1);
      }
      
      .filterBox .filter:hover .filterName,
      .filterBox .filter:hover .iconFltr {
        color: #001A1F;
      }
      
      .filter :where(.recherche-option, .recherche) {
        display: flex;
        align-items: center;
        column-gap: 0px;
        flex-wrap: wrap;
        width: 1120px;
      }
  
      label{
        color: #001A1F;
        font-size: 1rem;
        font-weight: 600;
        padding: 0 15px;
      }
      
      .input-box input {
      position: relative;
      height: 43px;
      width: 100%;
      outline: none;
      font-size: 1rem;
      color: rgb(101, 100, 100);
      margin-top: 0px;
      border: 1px solid #c1c1c1;
      border-radius: 8px;
      padding: 0 15px;
      margin-top: 10px;
      width: 400px;
      transform: translateX(-1px);  
    }
    
      .input-box input:focus {
        box-shadow: 0 1px 0 rgb(158, 156, 156);
      }
    
      /* ================== boats List ============== */
        .details {
        position: relative;
        width: 100%;
        padding: 20px;
        display: block;
      }
        
        .details .Boats {
        position: relative;
        display: grid;
        max-height: 500px;
        overflow-y: scroll ;
        padding: 20px;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        background-color:#f4f7fa;/************************************/
      }
      
      .details table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
      }
      .details table thead td {
        font-weight: 600;
      }
      
      .details .Boats table tr {
        color: #001A1F;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
      
      .details .Boats table tr:last-child {
        border-bottom: none;
      }
      
      .details .Boats table tbody tr:hover {
        background: rgba(33, 26, 61,0.15);
        color: white;
      }
      
      .details .Boats table tr td {
        padding: 10px;
      }
      
      .details .Boats table tr td:last-child {
        text-align: end;
      }
      
      .details .Boats table tr td:nth-child(2) {
        text-align: end;
      }
      
      .details .Boats table tr td:nth-child(3) {
        text-align: center;
      }
    /*
      .Boats tbody tr:not(:first-child) {
        display: none;
      }
      
      .Boats tbody tr.show-all {
        display: table-row;
      }
    
    */
    
    
    .category{
        display: flex;
        width: 80%;
        margin-left: 40px ;
        justify-content: space-between;
      }
      
    .category label{
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 25px;
        width: 200px;
      }
      
    .category label .dot{
        height: 18px;
        width: 18px;
        border-radius: 50%;
        margin-right: 10px;
        background: #d9d9d9;
        border: 5px solid transparent;
        transition: all 0.3s ease;
      }
      
      #dot-1:checked ~ .category label .one,
      #dot-2:checked ~ .category label .two,
      #dot-3:checked ~ .category label .three{
        background: #001A1F;
        border-color: #d9d9d9;
      }
      
    input[type="radio"]{
        display: none;
      }

      .Menu-options {
        color: rgb(126, 126, 126);
        font-size: 1.1rem;
        margin-top: 5px;
        transform: translateX(370px);
      }


      .Drop-down-menu {
        display: flex;
        gap: 2rem;
      }
      
      .Menu, .drop-down li {
        list-style: none;
        height: 100%;
        padding: 0;
        font-weight: 600;
        cursor: pointer;
        width: 109%;
      }
      
      .Menu:hover {
        background-color: #f4f7fa;
        color: #001A1F;
        border-radius: 0.5rem;
      }
      
      .options:hover .drop-down {
        display: block;
      }
      
      .Menu .select-box i{
        font-size: 20px;
        color: rgb(126, 126, 126);
      }
      
      .select-box{
        border: none;
        appearance: none;
        padding: 5px;
        width: 109%;
        color:rgb(126, 126, 126);
        font-weight: 600;
        background-color: #f4f7fa;
        background: #f4f7fa;
        font-size: 20px;
        border-radius: 8px;
      }




      .cancelled {
        background-color: #FFCCCC; /* Couleur rouge claire */
      }

      .status.affectée {
        padding: 2px 4px;
        background: #8de02c;
        color: white;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
      }
      .status.non-affectée {
        padding: 2px 4px;
        background: #e9b10a;
        color: white;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
      }
      .status.annulée {
        padding: 2px 4px;
        background: #f00;
        color: white;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
      }

      
      .details .filterFooter {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
      
      .filterFooter h2 {
        font-weight: 600;
        color: rgba(33, 26, 61,0.7);
      }
























      
      .status-annulee {
        color: red; /* or whatever styles you need */
      }
      
      .status-non-affectee {
        color: orange; /* or whatever styles you need */
      }