<div class="all-page flex items-center">
    <app-navbar (onToggleSideNav)="onToggleSideNav($event)"></app-navbar>
    <div class="body" [ngClass]="getBodyClass()">
      <router-outlet></router-outlet>
      
      <section class="content">
        <div class="left-content">
          <div class="main">
            <div class="BigTitle">
              <h1><i class="fal fa-tasks faa2x"></i> Ajouter une Consommation</h1>
            </div>
            <div class="big-container">
              <div class="formulaire-boxes">
                <!-- Formulaire Etape 1 -->
                <div>
                  <section class="container container-1">
                    <form action="#" class="form">
                      <h1 class="form-title">Informations de consommation :</h1>
                      <div class="column">
                        <div class="input-box">
                          <label>Nº Consommation :</label>
                          <input type="number" placeholder="Entrer le numéro du client" required
                          [(ngModel)]="consommation.id_cons"
                          [ngModelOptions]="{standalone : true}"/>
                        </div>

                        
                      </div>
                      <div class="column">
                        <div class="input-box">
                          <label>Période du :</label>
                          <input type="date" required
                          [(ngModel)]="consommation.deb_cons"
                          [ngModelOptions]="{standalone : true}"/>
                        </div>
                        <div class="input-box">
                          <label>Au :</label>
                          <input type="date" required
                          [(ngModel)]="consommation.fin_cons"
                          [ngModelOptions]="{standalone : true}"/>
                        </div>
                        <div class="input-box">
                          <label>Date système :</label>
                          <input type="date"  required
                          [(ngModel)]="consommation.date_sys"
                          [ngModelOptions]="{standalone : true}"/>
                        </div>
                      </div>
                        <div class="column">
                          <div class="input-box">
                            <label>Prix Unitaire :</label>
                            <input type="number" placeholder="Entrer le prix unitaire du consommation" required
                            [(ngModel)]="consommation.prix_unit"
                            [ngModelOptions]="{standalone : true}"/>
                          </div>
                          <div class="input-box">
                            <label>Quantité :</label>
                            <input type="number" placeholder="Entrer la quantité" required
                            [(ngModel)]="consommation.qte"
                            [ngModelOptions]="{standalone : true}"/>
                          </div>
                        </div>
                       <div>
                          <label for="facture">N Facture</label>
                          <div class="select-box" >
                            <select id="id_fact" [(ngModel)]="facture.id_fact" name="id_fact">
                              <option *ngFor="let facture of listFacture" [ngValue]="facture">{{ facture.id_fact}}</option>
                            </select>
                          </div>
                        </div>
                        
                        <div>
                          <label for="sejour">N sejour</label>
                          <select id="id_sej" [(ngModel)]="sejour.id_sej" name="id_sej">
                            <option *ngFor="let sejour of listSejour" [ngValue]="sejour">{{ sejour.id_sej}}</option>
                          </select>
                        </div>
                        <!--
                        
                        <div>
                          <label for="Consommation">NUM SEJOUR</label>
                          <select id="id_cons" [(ngModel)]="consommation.sej.id_sej" name="id_cons">
                            <option *ngFor="let consommation of listConsommation" [ngValue]="consommation">{{ consommation.sej.id_sej}}</option>
                          </select>
                        </div>
                        -->

                        <div>
                          <label for="prestation">lib Prestation</label>
                          <select id="lib_prest" [(ngModel)]="prestation.lib_prest" name="id_prest">
                            <option *ngFor="let prestation of listPrestation" [ngValue]="prestation">{{ prestation.lib_prest}}</option>
                          </select>
                        </div>

                        <div class="column">
                          <div class="input-box">
                            <label>Offre :</label>
                            <input type="text" placeholder="Entrer l'offre de la consommation"required
                            [(ngModel)]="consommation.offre"
                            [ngModelOptions]="{standalone : true}"/>
                          </div>
                          
                          
                        </div>
                        
                    </form>
                    <div class="submit-box">
                      <div class="button-group button">
                        <button class="button button-primary" [routerLink]="['/rechercher_consommation']" routerbuttonActive="active" >Annuler</button>
                        <button (click)="addConsommation(consommation)"  id="send" class="button button-secondary">Ajouter</button>
                      </div>
                    </div>
                    <div class="message">
                        <div class="success" id="success">Consommation ajouté avec succès!</div>
                        <div class="danger" id="danger">Vérifier les champs obligatoires!</div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  